<div class="play">
    <div class="scroll-cards">
        <div class="measure-card" ng-if="offset >= blockSize">
            <div class="measure-treble">{{show("Treble")}}</div>
            <div class="measure-number">
                <p class="measure-number-txt">{{show("Sentence")}}</p>
                <p class="measure-number-txt">{{(offset/blockSize)}}</p>
            </div>
            <div class="measure-bass">{{show("Bass")}}</div>
        </div>
        <div class="measure-card">
            <div ng-class="{'measure-selected-bass': hand == 'Right', 'measure-bass': hand == 'Left'}">{{show("Treble")}}</div>
            <div class="measure-selected">
                <p class="measure-selected-txt">{{show("Sentence")}}</p>
                <p class="measure-selected-txt">{{ (offset/blockSize) + 1}}</p>
            </div>
            <div ng-class="{'measure-selected-bass': hand == 'Left', 'measure-bass': hand == 'Right'}">{{show("Bass")}}</div>
        </div>
        <div class="measure-card" ng-if=" offset + blockSize < size">
            <div class="measure-treble">{{show("Treble")}}</div>
            <div class="measure-number">
                <p class="measure-number-txt">{{show("Sentence")}}</p>
                <p class="measure-number-txt">{{(offset/blockSize) + 2}}</p>
            </div>
            <div class="measure-bass">{{show("Bass")}}</div>
        </div>
    </div>
    <div id="light_beam"></div>

    <div class="favorite-txt">{{show("Add to favorite")}}</div>
    <div class="blocksize-txt">{{show("Sentence Size") + " " + blockSize}}</div>
    <button ng-click="decreaseBlock()" class="size-minus" />
    <button ng-click="increaseBlock()" class="size-plus" />

    <button class="play-keys" />
    <button ng-click="like()" class="favorite-add" />
    <button ng-click="like()" class="favorite-search" />
</div>
