<div class="search">
  <div id="light_beam"></div>

  <div ng-class="{smallsearchsection: showResult}" class="search-section">
    <img ng-if="showResult !== true" class="elise-search" src="/resources/Elise.png" />
    <input ng-class="{smallsearchbar: showResult}" class="search-bar" ng-click="focus();showResult = false; $apply();" ng-model="searchString" type="text" focus-me="shouldFocus" ng-keypress="getKey($event)" ng-blur="setUnfocus()" ng-focus="setFocus()"></input>
  </div>

  <div ng-if="showResult == true && selected !== null" class="result">
    <p class="result-name">{{searchList[selected].title}}</p>
    <p class="result-author">{{show("Composer") +" : "+ searchList[selected].author}}</p>
    <p class="result-difficulty">{{ show("Difficulty") + " : Easy"  }}</p>
  </div>

  <button ng-if="showResult == true && selected !== null && selected != 0" class="left-search" />
  <button ng-if="showResult == true && selected !== null && selected != searchList.length-1" class="right-search" />

  <button href="#!/favorite" ng-click="nav('favorite')" class="favorite-search" />
  <button href="#!/favorite" ng-click="nav('favorite')" class="shortcut-2">
    <button href="#!/history" ng-click="nav('history')" class="history-search"/>
    <button href="#!/favorite" ng-click="nav('history')" class="shortcut-3">
</div>
